/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: green; */
}
/* Unico container centrale */
.container {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
}

.container-app {
    width: calc(100vw - 290px)
}

/* Header */
.header-app{
    display: flex;
    background-color: #eaeaea;;
}

    /* Header App left */
    .header-app-left{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid #b1b1b1;
    }

    /* Header App right */
    .header-app-right{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     

/* Left Bar */
.leftaside {
    width: 30%;
    height: 100%;
    background-color: white;
}
body {
    background-color: #009487;;
}
/* Common */
i {
    color: #b1b1b1;
}
    /* Utilizzata in Header left / Header Right */
.user-info {
    height: 20%;
    display: flex;
    align-items: center;
}

    .user-info img {
        border-radius: 50%;
        width: 40px;
        margin: 0.4rem;
    }

.user-function {
    padding-right: 1rem;
}
    .user-function i {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

.pdl03 {
    padding-left: 0.3rem;
}

.core {
    display: flex;
    height: 500px;
}
/* Common */

/* leftSide  */

/* LeftSide - Notification */
.notification {
    background-color: #8edafb;
}
.dflex {
    display: flex;
    align-items: center;
    padding: 0.6rem;

}

.bellcontainer {
    border-radius: 50%;
    background-color: white;
    width: 2rem;
    height: 2rem;
    padding: 0.6rem;
}
    .bellcontainer i {
        display: flex;
        justify-content: center;
        width: 100%;
        color: #8edafb;
    }

.subtext {
    text-decoration: underline;
    color: #507687;

}

/* Fine notification */

/* Inizio search friend bar */
.searchfriend {
    background-color: #fafafa;
    background-color: lightcoral;
    padding: 0.5rem;
}
    input {
        width: 100%;
        border: none;      
    }

    /* Search bar */
    .searchbar {
        background-color: #fff;
        border: 1 solid #f6f6f6;
    }
        .searchbar input {
            padding-left: 1rem;
        }
    
/* friend list */

.friendlist .user-info {
    border-bottom: 1px solid #f6f6f6;
}
.previewmessages {
    font-size: 0.6rem;
    color: #507687;
}
/* Fine left side */

/* right side  */
.rightside {
    width: 70%;
    background-image:url(../img/mine.jpg);
    height: 100%;
    
}
    .container-chat {
        width: 80%;
        height: 85%;
        padding: 2rem 2rem;
    }
        /* .leftchat{
            display: flex;
            justify-content: left;
        } */

            .message{
                background-color: lightcoral;
                padding: 1.3rem 4rem;
                border-radius: 11px;
            }

            .message.friendchat {
                background-color: #fff;
            }
            .message.userchat{
                background-color: #d5f9ba;
            }

        /* .rightchat{   
            display: flex;
            justify-content: right;
        } */

        .bottom-chat {
            height: 15%;
            display: flex;
            align-items: center;
            background-color: #f3eeea;
        }

            .bottom-chat input {
                width: 80%;
                margin: 0 auto;
                padding: 1.3rem 1rem;
                border-radius: 11px;
            }

            .bottom-chat .emoji {
                padding-left: 2rem;
            }

            .bottom-chat .audio {
                padding-right: 2rem
            }